<!doctype html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<title>Find your 330</title>

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Graduate" />
		<link rel="Stylesheet" href="./style.css" />
		<script src="./vue.min.js"></script>
	</head>
	<body>
		<div id="vueApp">
			<h1>FIND YOUR 330<span>ver 1.11</span></h1>

			<div class="estimated">
				<label>
					<strong>300KOOL</strong> COUNT
					<input type="text" name="unvalue" disabled :value="unvalue" />
				</label>
				<label>
					<strong>330KOOL</strong> COUNT
					<input type="text" name="estimated" disabled :value="estimated" />
				</label>
				<label>
					<strong>330KOOL</strong> RATE
					<input type="text" name="rate" disabled :value="rate" />
				</label>
			</div>
			<form>
				<h2>INPUT YOUR RESULT</h2>
				<div class="row">
					<span class="label">KOOL</span>
					<input type="number" name="kool" v-model="judgement.kool" step="1" max="9999" placeholder="KOOL" />
				</div>
				<div class="row">
					<span class="label">COOL</span>
					<input type="number" name="cool" v-model="judgement.cool" step="1" max="9999" placeholder="COOL" />
				</div>
				<div class="row">
					<span class="label">GOOD</span>
					<input type="number" name="good" v-model="judgement.good" step="1" max="9999" placeholder="GOOD" />
				</div>
				<div class="row">
					<span class="label">SCORE</span>
					<input type="number" name="score" v-model="judgement.score" step="1" max="9999999" placeholder="SCORE" />
				</div>
				<a class="clearvalue" href="#" @click="clearValues">CLEAR RESULT</a>
			</form>
		</div>
		<script>
			var App = new Vue({
				el: '#vueApp',
				data: {
					'judgement': {
						'kool': null,
						'cool': null,
						'good': null,
						'score': null
					}
				},
				methods: {
					clearValues: function() {
						this.judgement.kool = null;
						this.judgement.cool = null;
						this.judgement.good = null;
						this.judgement.score = null;

						return false;
					}
				},
				computed: {
					estimated: function() {
						var result = (this.judgement.score -
							   		  (this.judgement.kool * 300) -
									  (this.judgement.cool * 150) -
									  (this.judgement.good * 41)
									 )/30;

						return (result.toString().indexOf('.') > -1 || result < 0 || result > this.judgement.kool) ? '0': result;
					},
					unvalue: function() {
						var result = this.judgement.kool - this.estimated;

						if (result >= 0) {
							return result;
						} else {
							return 0;
						}
					},
					rate: function() {
						var result = parseFloat(this.estimated/this.judgement.kool)*100;

						if (result >= 0) {
							return result.toString().substr(0,5) + '%';
						} else {
							return 0;
						}
					}
				}
			});
		</script>
	</body>
</html> 